<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <title> 欢迎来到棒棒堂 </title>
</head>
<body>
<b> 预约试听 (报名) </b><br>
棒棒堂咨询电话: 025-10086<br>
<form action="/signfinish/" method="post">
    {% csrf_token %}
    <br><b>学生姓名 <font color="#FF0000">*</font></b><br>
    <input type="text" name="name" placeholder="小明" required><br>
    <br><b>年级</b><br>
    <select name="grade_list">
        <option value="未选择">请选择</option>
        <option value="幼儿园中班">幼儿园中班</option>
        <option value="幼儿园大班">幼儿园大班</option>
        <option value="一年级">一年级</option>
        <option value="二年级">二年级</option>
        <option value="三年级">三年级</option>
        <option value="四年级">四年级</option>
        <option value="五年级">五年级</option>
        <option value="六年级">六年级</option>
    </select><br>
    <br><b>试听课程</b><br>
    {% for course in course_list %}
        <input type="checkbox" name="courses" value="{{ course }}">{{ course }}<br>
    {% endfor %}
    <br><b>手机号码 <font color="#FF0000">*</font></b><br>
    <input type="tel" name="phone_num" pattern="^\d{11}$" required/><br>

    <br><b>电子邮件</b><br>
    <input type="email" name="email"><br>
    <br><input type="submit" value="提交">
</form>
<br><p><b>学校简介</b></p>
<video width="320" height="180" controls>
  <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
您的浏览器不支持Video标签。
</video>
</body>
</html>